@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&display=swap');


$primary-color: #000;
$secondary-color: #FFD600;
$text: #fff;
$active: #D9D9D9;
$subtitle: #FF7A00;

.container {
    width: 100%;
    max-width: 1640px;
    margin: 0 auto;
}
.title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin-top: 50px;
    margin-bottom: 100px;
    color: $subtitle;
}
.box {
    display: flex;
    margin-bottom: 50px;
    .subtitle {
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 700;
        margin: 0 0 50px;
    }
    .text {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 500;
    }
}
.textList {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}
.about {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}
.textBox {
    margin-bottom: 50px;
}
.menu {
    padding: 0;
    margin-bottom: 100px;
}
.list {
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
    list-style: none;
    margin-bottom: 20px;

    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        border: #000 solid 3px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    p {
        margin: 0;
    }
}